.form .base_form,
.base_logo_name,
.base_logo_slogan{
    width: 80%; max-width: 800px;
    margin: auto;
    display: block;
}
.form {
    padding: 24px 0px;
}
.form h1{
    margin: 0px;
}
.form h1 sup{
    font-size: 10px;
}
.form .form_instruction{
    font-size: smaller;
    font-style: italic;
}

.form .base_form{
    margin: 20px auto;
    background-color: #ECEFF1;
    color: #2b2b2b;
    border-radius: 8px;
    padding: 40px 30px;
}
.form textarea{
    width: 100%;
    resize: none;
}
.form .base_form input, .form .base_form textarea{
    font-size: 20px;
    padding: 4px;
}
.form .msg_error{
    display: none;
    color: red;
}
.form .msg_ready{
    display: none;
    color: green;
}
.form .hasError .msg_error {
    display: block;
}
.form .isReady .msg_ready {
    display: block;
}
#data ul{
    list-style-type: disc;
}
#data ol > li {
    padding: 20px 5px;
}

#submit-btn{
    width: 60%;
    text-align: center;
    margin: 20px auto;
    display: block;
    cursor: pointer;

    color: #FFFFFF;
    text-transform: uppercase;
}

#submit-btn[disabled]{
    opacity: 0.3;
}

.body_overlayOn{ position:absolute; top:0; bottom:0; right:0; left:0; }
.body_overlayOn .form_overlay{ display: block; }
.body_overlayOn #data{ display: none; }
.form_overlay{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background: #FFFFFF;
    display: none;
}
.form_overlay .center-center{
    position: absolute;
    text-align: center;
    width: 50%;
    top: 30%;
    transform: translate(50%, 50%);
}

.progressBar_wrapper{
    position: relative;
    width: 50%;
    min-width: 200px;
    margin: 10px auto;
    border: 1px solid #2b2b2b;
    height: 20px;
}
#progressBar_percent{
    position: relative;
    line-height: 20px;
    text-align: center;
    z-index: 5;
}
#progressBar_percent:after{
    content: '%';
}
#progressBar_bar{
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.form_overlay .complete{
    display: none;
}
body.complete .complete{ display: block; }
body.complete .inProgress{ display: none; }