<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
        <% include ../partials/header %>
    <div id="body-content">
        <h1>Coming Soon!</h1>
        <p>Thank you for being patient with us. We are working on this page right now. Please check back later!</p>

    </div>
    <footer>
            <% include ../partials/footer %>
    </footer>
</body>
</html>