<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
<link rel="stylesheet" href="/css/pages.css">
</head>
<style type="text/css">
</style>
<body class="">
<% include ../partials/header %>
<div id="body-content">
    <h2>Difficulties of Entering the Chinese Mobile Market as a Foreigner</h2>
    
    <div class="pages_pSection">
        <h3>Google Play is blocked.</h3>
        <p>
            Although most people in China are on Android, you will not find Google Play on their phones. How do people install apps then? Most smartphones come preloaded with the manufacturer’s app stores. All the big names the likes of Huawei, Xiaomi, and Oppo all have their own app stores. I guess that works for the average Chinese user, but this is a huge hurdle for developers, especially if you can’t read Chinese. 
            <strong>Let Redapp publish your apps to China’s most popular app stores.</strong>
        </p>
    </div>
    <div class="pages_pSection">
        <h3>No English Support.</h3>
        <p>
            With possible exception of Xiaomi, Chinese app stores don’t have English versions, let alone app developer portals. When you contact their customer support, they will either have very poor or non-existent English support. Worse, they might simply just ignore your emails.
            <strong>Allow Redapp’s native Chinese speaking staff do the talking on your behalf.</strong>
        </p>
    </div>
    <div class="pages_pSection">
        <h3>Over 400 Android stores available without a single dominant player.</h3>
        <p>
            That’s insane! I know. This means you will need to publish on multiple stores. Time to update your app? You will have to do it more than once. By the way, regulations and requirements on each of the app stores are different. And they change quite often. 
            <strong>Redapp can handle it for you.</strong>
        </p>
    </div>
    <div class="pages_pSection">
        <h3>China’s mobile space is heavily regulated, and it is changing constantly.</h3>
        <p>
            As using smartphones become more and more integrated into daily lives of people in China, the Chinese government is increasing its regulations. App stores now require documents that may seem idiosyncratic to those outside China. For example, you must provide a black and white copy of your Chinese business license, then put a red company stamp on it. Can I even get a business license in China as a foreigner? You can, but it’s not easy, and the Chinese government is also cracking down on so-called “paper companies”, where companies are set up just to exploit loopholes. Another requirement is text-message verifiable Chinese mobile phone number which is also heavily regulated. You must have a Chinese citizenship or a valid Chinese visa if you are a foreigner in order to get a mobile number. 
            <strong>Let Redapp publish on behalf of you.</strong>        
        </p>
    </div>

    <% include ../partials/getintouch %>

</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>