<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>
<style type="text/css">
.services_divider{
    width: 60%;
    height: 4px;
    margin: 80px auto 40px auto;
    min-width: 200px;
    display: block;
}
.services_body h2{
    margin: 20px 0px 8px 0px;
}
</style>
<body class="services_body">
<% include ../partials/header %>
<div id="body-content">
   

    <h2>Redapp Service Packages</h2>
    <div>We provide two types of service packages — Subscription and One-time Publishing.</div>
    
    <h3>Subscription</h3>
    <div>
        <div>Redapp will...</div>
        <ul>
            <li>
                <strong>Launch your app</strong> on China’s top 10 Android app stores.
            </li>
            <li>
                <strong>Update your app</strong> at any time you wish. This includes the APK file as well as screenshots, icons, descriptions, you name it.
            </li>
            <li>
                <strong>Take care of your app</strong> in case of any issues. Our native Chinese speaking staff will directly communicate with the app stores to resolve any issues.
            </li>
            <li>
                Pricing
                <table><tbody>
                    <tr>
                        <td>Yearly Subscription</td><td>:</td><td> USD 2,000 per 1 year (10 stores)</td>
                    </tr>
                    <tr>
                        <td>Quarterly Subscription</td><td>:</td><td> USD 600 per 3 months (10 stores)</td>
                    </tr>
                </tbody></table>
            </li>
        </ul>
    </div>

    <h3>One-time Publishing</h3>
    <div>
        <div>Redapp will...</div>
        <ul>
            <li>
                <strong>Choose</strong> on which app stores to publish amongst China’s top 10 Android app stores.   
            </li>
            <li>
                <strong>Just get your apps published.</strong> We will publish your apps on the app stores of your choice and that’s it. If you would like further assistance such as app update, you must subscribe to one of our subscription services.                
            </li>
            <li>
                <strong>Take care of your app</strong> in case of any issues. Our native Chinese speaking staff will directly communicate with the app stores to resolve any issues.
            </li>
            <li>
                Pricing
                <table><tbody>
                    <tr>
                        <td>Pay Per App Store</td><td>USD 60 per app store (one-time fee)</td>
                    </tr>
                </tbody></table>
            </li>
        </ul>
    </div>

    <div class="services_divider base_background_red_grad_V"></div>

    <h2>Additional Services</h2>
    <div>You may also add more services below in addition to the Service Packages above.</div>

    <h3>Weekly Downloads Reports</h3>
    <ul>
        <li> 
            Get weekly emails with the number of downloads of your app on all of the Chinese app stores (coming soon: online dashboard to check your app status and report)
        </li>
        <li>
            Pricing
            <table><tbody>
                <tr>
                    <td>USD 250 per year</td>
                </tr>
            </tbody></table>
        </li>
    </ul>

    <h3>Bi-Weekly Translated Comments Report</h3>
    <ul>
        <li> 
            Get bi-weekly emails with comments on your app across all app stores translated into English
        </li>
        <li>
            Pricing
            <table><tbody>
                <tr>
                    <td>USD 250 per year</td>
                </tr>
            </tbody></table>
        </li>
    </ul>

    <h3>WeChat SDK Integration</h3>
    <ul>
        <li> 
            Login by Wechat
        </li>
        <li> 
            Users share customized content to WeChat Contacts and Moments
        </li>
        <li> 
            Make in-app purchases with WeChat Pay
        </li>
        <li>
            Pricing
            <table><tbody>
                <tr>
                    <td>Contact Redapp for more information</td>
                </tr>
            </tbody></table>
        </li>
    </ul>

    <h3>App Reclaim</h3>
    <ul>
        <li> 
            Chinese app stores will often pirate popular apps from Google Play and list them in their app stores without notifying the original author of the app                
        </li>
        <li> 
            As the original author of the app, Redapp will help you can claim the app as your own and gain users in China you didn’t know you already had                
        </li>
        <li>
            Pricing
            <table><tbody>
                <tr>
                    <td>Contact Redapp for more information</td>
                </tr>
            </tbody></table>
        </li>
    </ul>


    <% include ../partials/getintouch %>

</div>
<footer>
        <% include ../partials/footer %>
</footer>
</body>
</html>