<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
<link rel="stylesheet" href="/css/pages.css">
</head>
<style type="text/css">
</style>
<body class="">
<% include ../partials/header %>
<div id="body-content">

    <h2>Android App Store Market Share in China</h2>

    <div class="pages_imgWrapper">  
        <img src="/img/blog/storemarketshare2017/piechart.png">
        <div class="pages_imgWrapper_caption">
            2017 market share for the top 10 stores in China
            <div class="pages_imgWrapper_source">
                source: <a href="http://www.aiyingli.com/45878.html">Aiyingli</a>
            </div>
        </div>
    </div>

    <p>
        With the dominant influence from Wechat users, Tencent Android market is no doubt the top 1 store in China with 22% of user share. It is currently the biggest Android store in China with the highest quality user groups.                
    </p>
    <p>
        360 Store has more than 100 million of users since 360 security app and software takes up more than 70% of the security software product market share. Currently 360 store ranks the second in terms of market share with roughly 19% of of the pie.
    </p>
    <p>
        Baidu store took 17% of the market with their No.1 search engine power in China which also guarantees great user quality and the amount of daily active users. 
    </p>
    <p>
        The top 3 mobile phone manufacturers - Huawei, Xiaomi and Oppo store owns roughly 27% of the market combined. With the increasing amount of domestic mobile phone users and the pre-installed app stores from these phone makers, the app stores backed by these hardware giants may soon take over the top 3 store’s market share. 
    </p>
    <p>
        Alibaba has been increasing its market share by acquiring other app stores. The Wandoujia store, which was one of the top 10 mobile stores in 2015, was acquired by Alibaba and is now officially part of Aliapp store. Aliapp currently possess 5% the market share but its major plaforms - Aliapp, UC, Wandoujia, and PP app stores will keep expanding its influence on top 10 store list.
    </p>
    <p>
        The old fashioned top 10 stores - Anzhi store and Vivo store are still holding up their shrinking 6% market share yet they are not what they used to be few years ago due to high app promotion charge and harsh app uploading requirements. Their limited market share might decrease even more as other big players keep expanding their influence.
    </p>
    <P>
        Lenovo store has never been a major player in the league, yet its low end mobile phones allows it to maintain its small market share of 2% which may be an interesting opportunity for app developers.
    </p>
    <p>
        Overall, the major third party platforms are being pressured by increasing amount of pre installed mobile phones on mobile user acquisition. The highly competitive Chinese Android mobile app market will keep changing at a fast pace and we shall see how many major players will manage to stay on top of the list.  Redapp.co is a rising start-up specializing on mobile app distribution and promotion in China. We have a team with more than four years of work experience assisting foreign app developers or organizations to publish and maintain their mobile apps on Chinese android stores. 
    </p>
    <p>
        Want to learn more? Please leave us an email using the form below and we will get in touch!
    </p>
    
    <% include ../partials/getintouch %>

</div>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>