<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>
<style type="text/css">
.whychina-body #body-content{
    max-width: 1200px;
}
.whychina-body #body-content > h3{
    margin-top: 60px;
}
.whychina_imgWrapper{
    max-width: 800px;
    background-color: #B0BEC5;
    display: inline-block;
    padding: 20px;
}
.whychina_imgWrapper img{
    max-width: 100%;
}
.whychina_imgWrapper_caption{
    color: #FFFFFF;
}
.whychina_imgWrapper_caption a{
    color: inherit;
}
</style>
<body class="whychina-body">
<% include ../partials/header %>
<div id="body-content">
    <h2>Why Consider the Chinese Market?</h2>

    <h3>700 million smartphone users in China by 2018</h3>
    <p>
        The number of Chinese smartphone users have been rising at a breakneck pace in the past several years, and it is projected to surpass 700 million by 2018. With reliable 4G connectivity in even the most remote areas of China, the Chinese mobile market cannot be overlooked.        
    </p>
    <div class="whychina_imgWrapper">  
        <img src="/img/blog/whychina/whychina-800mill.png">
        <div class="whychina_imgWrapper_caption">
            Number of Chinese smartphone users is projected to surpass 700 million by 2018
            <div class="whychina__imgWrapper_source">
                source: <a href="https://www.chinainternetwatch.com/11769/china-smartphone-users-to-be-574-2-mln-2015/">CIW</a>
            </div>
        </div>
    </div>
    
    <h3>30% of world smartphone users are in China</h3>
    <p>
        What more can I say?
    </p>
    <div class="whychina_imgWrapper">  
        <img src="/img/blog/whychina/whychina-worldshare.png">
        <div class="whychina_imgWrapper_caption">
            <div class="whychina__imgWrapper_source">
                source: <a href="https://www.statista.com/statistics/220977/global-smartphone-market-share-forecast-by-country/">Statista</a>
            </div>
        </div>
    </div>
    
    <h3>78% of smartphones in China are Android</h3>
    <p>
        Thanks to the rising popularity of Chinese phone manufacturers such as Huawei, Oppo, and Xiaomi, more and more Chinese users are on Android, albeit Google-less.    
    </p>
    <div class="whychina_imgWrapper">  
        <img src="/img/blog/whychina/whychina-android.png">
        <div class="whychina_imgWrapper_caption">
            That's 78% percent blue, 78% Android.
            <div class="whychina__imgWrapper_source">
                source: <a href="https://www.statista.com/statistics/262176/market-share-held-by-mobile-operating-systems-in-china/">Statista</a>
            </div>
        </div>
    </div>

    <h3>China accounts for a quarter of global games revenue, and more than half of that is from mobile.</h3>
    <p>
        China accounts for quarter of global gaming revenue with $27.5 billion in 2017. More than half of that is from mobile, and mobile market share will only get bigger.
    </p>
    <div class="whychina_imgWrapper">  
        <img src="/img/blog/whychina/whychina-games.png">
        <div class="whychina_imgWrapper_caption">
            Not only is China's overall games market going up, the market share for mobile is rapidly increasing. 
            <div class="whychina__imgWrapper_source">
                source: <a href="https://newzoo.com/insights/articles/the-global-games-market-will-reach-108-9-billion-in-2017-with-mobile-taking-42/">Newzoo</a>
            </div>
        </div>
    </div>
        
    <% include ../partials/getintouch %>

</div>
<footer>
        <% include ../partials/footer %>
</footer>
</body>
</html>