<table style="width: 100%;">
<tbody>
<tr>
    <td>
        <div style=
        "font-family: Roboto, -apple-system, BlinkMacSystemFont, arial, sans-serif;
        color: #FFFFFF; background: #f44336;
        box-sizing: border-box; padding: 10px 40px;
        background: -moz-linear-gradient(-114deg, #f44336 52%, #e53935 52%);
        background: -webkit-linear-gradient(-114deg, #f44336 52%,#e53935 52%);
        background: linear-gradient(66deg, #f44336 52%,#e53935 52%);
        width: 100%; min-width: 400px;">
        <div>Sky Park</div><br>
        <a href="http://redapp.co/" style="text-decoration: none;">
            <div style=
            "font-size: 50px;
            text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                <span style="color: #FFFFFF;">RED</span><span style="color: #263238;">APP</span>
            </div>
            <div style=
            "color: #FFFFFF;
            font-style: italic;
            font-size: 16px;
            margin-bottom: 20px;
            ">Reach China's 600M mobile users.</div>
        </a>
    </div>
    </td>
</tr>
</tbody>
</table>