<div class="base_footer_top">
    <div class="base_footer_links">
        <h3>Learn More</h3>
        <div class="base_footer_links_col">
            <a href="/pages/whychina">Why Consider the Chinese Market?</a>
            <a href="/pages/difficulties-as-foreigners">Difficulties of Entering the Chinese Mobile Market as a Foreigner</a>
            <a href="/pages/storemarketshare2017">Android App Stores Market Share in China</a>
            <a href="/pages/services">Our Service Packages in Detail</a>
            <a href="http://search.redapp.co">Search Engine - China's Android Market</a>
        </div>
    </div>
    <div class="base_footer_contact">
        <h3>Send us a message!</h3>
        <div><i class="fa fa-envelope-o"></i> email : ray@redapp.co</div>
        <div><i class="fa fa-wechat"></i> WeChat : huan8438</div>
        <div><i class="fa fa-whatsapp"></i> Whatsapp : +1 774 253 9519</div>
        <div><i class="fa fa-skype"></i> Skype : soonerboomer4</div>
    </div>
</div>
<div class="base_footer_bot">
    <div class="base_footer_copyright">Copyright ©️ Redapp 2017</div>
</div>
<% include ganalytics %>