<section id="getintouch" msg="ready" email="none">
    <h1>Get in Touch!</h1>
    <div class="home_headerDiv base_background_red_grad_V"></div>
    
    <div id="getintouch_msg">
        <div class="getintouch_msg_ready">
            Leave us your email and we will get in touch with you.
        </div>
        <div class="getintouch_msg_sending">
            <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i>
            Sending...
        </div>
        <div class="getintouch_msg_success">
            Thank you and we will get back to you soon.
        </div>
    </div>
    
    <div class="home_cta_form base_form">
        <div class="base_form_tag">Email (required): </div>
        <input class="base_form_primary" id="getintouch_email" type="text" placeholder="Place your email here...">
        
        <div class="base_form_tag">Comments (optional): </div>
        <textarea class="base_form_optional" id="getintouch_comments" placeholder="Tell us which services you are interested!"></textarea>
        
        <button id="getintouch_btn" class="base_boxshadow_3 base_background_red_grad_V">send</button>
    </div>
</section>
<script type="text/javascript">
function validateEmail(email){
    var re = /^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/;
    return re.test(email);
}
//function to run on DOM ready
(function(){
    
var xhr_cta = new XMLHttpRequest();
xhr_cta.open("POST", '/api/cta');
//xhr_cta.open("POST", 'http://fast-taiga-21103.herokuapp.com/cta');

xhr_cta.onreadystatechange = function() {//Call a function when the state changes.
    if(xhr_cta.readyState == XMLHttpRequest.DONE && xhr_cta.status == 200){
        // Request finished. Do processing here.
        document.getElementById('getintouch').setAttribute('msg', 'success');
    }
}



function submit_cta(){
    var email = document.getElementById('getintouch_email');
    var comments = document.getElementById('getintouch_comments');
    
    if(validateEmail(email.value)){
        document.getElementById('getintouch').setAttribute('msg', 'sending');
        var data = {
            email: email.value,
            comments: comments.value,
        };
        xhr_cta.setRequestHeader('Content-Type', 'application/json');
        xhr_cta.send(JSON.stringify(data)); 

        fbq('track', 'Lead', {
            content_name: 'getintouch',
        });
    } else {
        $(email).trigger('input');
    }        
}





document.getElementById('getintouch_email').oninput = function(e){
    var elem = document.getElementById('getintouch');
    var email = document.getElementById('getintouch_email').value;
    if(email.length < 1){
        elem.setAttribute('email', 'none');
    }
    else if(!validateEmail(email)){
        elem.setAttribute('email', 'invalid');
    } else {
        elem.setAttribute('email', 'valid');
    }
}

document.getElementById('getintouch_email').onkeypress = function(e){
    if(e.which == 13 || e.keyCode == 13){
        submit_cta();
    }
}
document.getElementById('getintouch_btn').onclick = submit_cta;

})();
</script>