<a href="/" class="base_header">
    <div class="base_header_redapp">
        <span class="base_header_red base_color_red">RED</span><span class="base_header_app base_color_grey_900">APP</span>
    </div>
    <div class="base_header_slogan base_color_grey_900">Reach China's 700 million mobile users.</div>
</a>